<%= render "layouts/header", collections:  "@users"%>

<div class="main posts-index">
  <div class="index-top"></div>
  <div class="contents-text">
    <h1 class="what">
    温泉地の魅力をもっと広く伝えたい
    </h1>
    <p class="what-message">
    日本には、3,000ほどの温泉地、20,000ほどの温泉施設があります。</br>
    しかし、そのほとんどは未だ知られていない温泉地ばかり。</br>
    そんな地域に眠る魅力的な温泉地を見つけ出し、日本中を旅してみよう。
    </p>
    <h1 class="index-title">
    温泉地一覧
    </h1>
  </div>
<%= render "tweet" %>
</div>

<%= render "layouts/footer" %>





