<%= render "layouts/header" %>
<div class="about-main">
  <%= image_tag "whatlocal.jpg" ,size: '240x50'%>
  <p>
    温泉好きのための温泉コミュニティ！
    日本中の温泉にまつわる情報を投稿し、シェアしあう温泉メディア。
  </p>
  <%= image_tag "onsen.jpg" , class: "top",size: '700x500'%>
</div>
<%= render "layouts/footer" %>