<div class="main top-main">
  <div class="left-box">
    <%= image_tag "top2.jpg" , class: "top",size: '700x600'%>
  </div>
  <div class="right-box">
    <div class="message">
      <p>地域にはまだ知らない温泉がある</p>
      <h2>さぁ、日本中の温泉を旅しよう</h2>
  </div>
</div>

