<header>
  <div class="header-logo">
    <%= link_to image_tag("logo.jpg",size: '340x90'),"/" %>
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">@localとは</a>
    </li>
  </ul>
</header>


<div class="main top-main">
  <div class="left-box">
    <%= image_tag "top.jpg" , class: "top",size: '600x700'%>
  </div>
  <div class="right-box">
    <div class="message">
      <h2>地域にはまだ知らない温泉がたくさんある</h2>
      <p>日本中の温泉を語り合おう</p>
  </div>
</div>

