* {
  box-sizing: border-box;
}
header {
  height: 90px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color:#fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);



.header-logo {
  float: left;
  padding-top: 17px;
  padding-left: 40px;
  background-color:#fff;
  font-size: 22px;
}


.header-menus {
  float: right;
  padding-right: 5px;
  display: flex;

  .search{
    padding: 26px 10px;
    
    &__box{
      position: relative;
      &__text{
        width: 340px;
        padding: 8px;
        border-radius: 15px;
        border: 1px solid #cfc7c6;
      }
    }
    button{
      font-size: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      position: absolute;
      top: 8px;
      right: 8px;
      display: block;
      color: #8c8b8b;
    }
  }
  &__list{
    float: left;
    //line-height: 90px;
    font-size: 15px;
    padding:28px;
    
    .fas {
      font-size: 30px;
      margin-top: 2px;
    }
    .red-btn{
      border: 1px solid rgb(223, 86, 86);
      padding: 5px 7px;
      color: rgb(223, 86, 86);
      border-radius: 5px;
      font-size: 13px;
    }
    .red-btn:hover{
      background-color: rgb(223, 86, 86);
      color: #fff;
    }
    .blue-btn{
      border: 1px solid #1DCCCA;
      padding: 5px 7px;
      color: #1DCCCA;
      border-radius: 5px;
      font-size: 13px;
    }
    .blue-btn:hover{
      background-color: #1DCCCA;
      color: #fff;
    }
  }

  a {
  float: left;
  text-decoration: none;
  margin-right: 15px;
  color: black;
  }



/*.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}*/
}
}