* {
  box-sizing: border-box;
}



/* posts/index ================================ */
.posts-index{
  //background-color: red;
  //overflow: scroll;

  .index-top{
    height: 500px;
    width: 100%;
    //object-fit: cover;
    background-size:cover;
    background-image: image-url("index-top.jpg");
    background-color: rgba(0,0,0, 0.3);
    background-blend-mode: darken;
  }
  .what{
    width: 500px;
    margin: 0 auto;
    padding-top: 70px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
  }
  .what-message{
    margin: 0 auto;
    width: 1100px;
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
  }
  .index-title{
    width: 210px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
  }

  /*温泉地カード*/
  .contents-index{
    width :1100px;
    margin:70px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
    .content {
      height: 100%;
      //border: 1px solid #6b6565;
      box-shadow: 0 2px 6px 6px #8f9396;
      object-fit: cover;
      a{
        text-decoration: none;
      }
      &__image_box{
        padding: 10px;
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      &__info{
        padding: 0 13px 5px;
        color: black;
        &__name{
          font-size: 20px;
          padding-bottom: 10px;
          color: #2D3133;
        }
        &__box{
          display: flex;
          font-size: 12px;
          color:#6b6565;
          &__area{
            padding-right: 20px;
            .fas{
              color:#6b6565;
              font-size: 15px;
            }
          }
          &__spring_quality{
            color:rgb(223, 86, 86);
            img{
              vertical-align: middle;
              padding-bottom: 3px;
            }
          }
        }
        &__tags{
          font-size: 12px;
          a{
            color: #fff;
          }
          
          &__list{
            padding-right: 5px;
            border: 1px solid #ad8407;
            background-color: #ad8407;
            display: inline-block;
            border-radius: 5px;
            padding:2px;
            text-align: center;
            margin-bottom: 2px;
            //overflow: hidden;
          }
        }
      }
    }
  }
}

/* タグのindex ================================ */

.tag_title{
  width: 1100px;
  margin: 50px auto;
  font-size: 40px;
  font-weight: bold;
  border-bottom: solid 1px #1a1a1a;
  &__info{
    font-size: 18px;
    font-weight: normal;
  }
}



/*.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* 温泉地詳細tweets/show ================================ */
.posts-show {
  width: 100%;
  padding: 60px 150px;

  .container{
    margin: 0 auto;

    .spa_name{
      width: 100%;
      font-size: 30px;
      line-height: 100px;
      padding-left: 10px;
    }
    
    .content__info__box{
      padding: 5px 12px;
      color: black;
      display: flex;
      font-size: 13px;
      color:#6b6565;
      &__area{
        padding-right: 30px;
        .fas{
          color:#6b6565;
          font-size: 15px;
        }
      }
      &__spring_quality{
        color:rgb(223, 86, 86);
        img{
          vertical-align: middle;
          padding-bottom: 3px;
        }
      }
    }
    .tags{
      color: #fff;
      font-size: 12px;
      padding-right: 5px;
      border: 1px solid #ad8407;
      background-color: #ad8407;
      display: inline-block;
      border-radius: 5px;
      padding:2px;
      text-align: center;
      margin-bottom: 2px;
      text-decoration: none;
    }
    
    .address-info{
      max-width: 100%;
      height: 70px;
      font-size: 20px;
      display: flex;
      line-height: 70px;
      padding-right: 10px;
      .address-content{
        padding-right: 120px;
        padding-left: 20px;
        margin: 0;
      }
    }
    .url-info{
      width: 100%;
      height: 70px;
      font-size: 20px;
      //background-color:gray;
      display: flex;
      line-height: 70px;
      padding-right: 10px;
      .url-content{
        padding-right: 120px;
        padding-left: 20px;
        margin: 0;
      }
    }
  }
}


/*.tweets-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}*/

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 20px;
  padding-right: 40px;
}

/* 新規投稿posts/new ================================ */

.tweet-container{
  width: 1000px;
  height: 100%;
  //background-color: red;
  margin: 50px auto;
  //border: 1px solid gray;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 4px gray;
  .form-heading{
    color: black;
    font-size: 30px;
  }
  .form {
    margin: 0 50px;
    .form-body {
      padding: 30px;
    p{
      font-size: 20px;
      margin-bottom: 10px;
    }
    }
    
    .form_spa_name{
      width: 100%;
      border: 1px solid #d8dadf;
      padding: 10px;
      color: #57575f;
      font-size: 20px;
      letter-spacing: 2px;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 30px;
    }
    .form_image{
      border-radius: 10px;
      color: #57575f;
      font-size: 16px;
      letter-spacing: 2px;
      border-radius: 10px;
      font-size: 20px;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .form_tags{
      width: 100%;
      border: 1px solid #d8dadf;
      padding: 10px;
      color: #57575f;
      font-size: 20px;
      letter-spacing: 2px;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 30px;
    }
    
  }

    .form_address{
      width: 100%;
      border: 1px solid #d8dadf;
      padding: 10px;
      color: #57575f;
      font-size: 20px;
      letter-spacing: 2px;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 30px;
    }
    .form_url{
      width: 100%;
      border: 1px solid #d8dadf;
      padding: 10px;
      color: #57575f;
      font-size: 20px;
      letter-spacing: 2px;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 30px;
    }
  }
  .form input[type="submit"] {
    background-color: red;
    font-size: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 0;
    float: right;
  }
  .form input[type="radio"] {
    display: none; 
    }
  .label_box{
    display: flex;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
    display: -webkit-flex;
  }
    label{
      display: block; 
      margin: 5px; 
      width: 150px; 
      height: 45px; 
      padding-left: 5px; 
      padding-right: 5px; 
      
      text-align: center; 
      line-height: 45px; 
      cursor: pointer; 
      border: 2px solid #1DCCCA;
      border-radius: 5px; 
    }
    label:hover{
    background: #1DCCCA;
    }
    .form input[type="radio"]:checked + label {
      background: #1DCCCA;
      color: #ffffff; 
      }

/*.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}*/
