/*ユーザーマイページ-------------------------------------*/
.user-show{
  width: 100%;
  height: 100vh;

  .container{
    width: 1100px;
    padding: 90px 120px 70px;
    margin: 0 auto;

    .user{
      display: flex;
      &__image{
        width: 200px;
        height: 200px;
        .default_icon{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: none;
        }
  
        img{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
          border: solid 1px #6b6565;
        }
      }
      
      
      &__profile{
        padding-left: 90px;
        width: 100%;

        h2{
          font-size: 40px;
        }

        p{
          font-size: 15px;
        }

        a{
          color: rgb(223, 86, 86);
          text-decoration: none;
          border: 1px solid  rgb(223, 86, 86);
          border-radius: 5px;
        }
      }
    }
  }

  .tabs {
    width: 1100px;
    min-width: 320px;
    margin: 0 auto;
  }
  
  .tabs label {
    display: inline-block;
    margin: 0;
    padding: 0;
    .fas{
      font-size: 15px;
      margin-right: 5px;
    }
  }
  .tabs label {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding: 3px 10px;
    cursor: pointer;
    background: #ddd;
    color: #777;
    margin-right: -2px;
    border: 1px solid #777;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }
  .tabs label:hover {
    background: #eee;
  }
  .line{
    width: 1100px;
    height: 1px;
    margin: 0 auto;
    background-color: #777;
  }
  .tabs input:checked + label {
    background: #ad8407;
    color: white;
    border: 1px solid #ad8407;
  }
  .tabs input {
    display: none;
  }
  .tabs #tabs-b1,
  .tabs #tabs-b2 {
    display: none;
    padding: 10px;
  }
  .tabs #tabs-1:checked ~ #tabs-b1,
  .tabs #tabs-2:checked ~ #tabs-b2 {
    display: block;
    width: 1100px;
    margin: 0 auto;
  }
  
}
.a{
  font-size: 30px;
}

/*新規登録・編集画面-------------------------------------*/
.users-container{
  width: 1000px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 4px gray;
  .form-heading{
    color: black;
    font-size: 30px;
  }
  .users-form {
    margin: 0 50px;
    .form-body {
      padding: 30px;
      p{
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
    .form_user_name{
      width: 100%;
      border: 1px solid #d8dadf;
      padding: 10px;
      color: #57575f;
      font-size: 20px;
      letter-spacing: 2px;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 30px;
    }
    .form_user_email{
      width: 100%;
      border: 1px solid #d8dadf;
      padding: 10px;
      color: #57575f;
      font-size: 20px;
      letter-spacing: 2px;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 30px;
    }
    
  }
  .form input[type="submit"] {
    background-color: red;
    font-size: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 0;
    float: right;
  }
}

