<footer>
  <div class="footer_menu">
    <div class="footer_menu__list">
      <%= link_to("@LOCALとは", "/about") %>
      <%= link_to("企画運営", "") %>
      <%= link_to("利用規約","") %>
      <%= link_to("プライバシーポリシー","") %>
    </div>
    <div class="footer_menu__copy">
      ©2020 @LOCAL All Rights Reserved.
    </div>
</footer>